/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=VT323&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: visible;
}

body {
    margin: 0;
    overflow: hidden;
}
.earth-container{
    width: 100%;
    height: 100vh; 
}
header {
    height: 100vh;
    width:  100vw;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px black;
}

.navbar {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    margin: 30px;  
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.nav-links ul li a {
    color: transparent;
    -webkit-text-stroke: 0.1vw darkmagenta;
    position: relative;
    padding: 6px 20px;
    transition: 0.1s;
    display: inline-block; /* Ensures the <a> tag respects padding and positioning */
}

.nav-links ul li a span {
    position: absolute;
    bottom: 0; /* Aligns the border to the bottom */
    left: 0;
    width: 100%;
    height: 2px; /* Adjust height for the border effect */
    background: magenta; /* Use background instead of border for smoother animation */
    transform: scaleX(0); /* Start with zero width */
    transform-origin: right; /* Animate from right to left */
    transition: transform 0.5s ease;
}

.nav-links ul li a:hover span {
    transform: scaleX(1); /* Animate to full width */
    transform-origin: left;
}

.nav-links ul li a:hover {
    color: darkmagenta;
}
.navbar .logo {
    font-size: 2.5em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: -45px;
}

.navbar .nav-links ul li {
    margin: 0 25px; 

}

.navbar .nav-links ul li.active {
    color :red;
    font-weight: 500;
}

.titre {
    color: white;
    text-align: center;
    font-size: 120px;
}
.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    color: transparent;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.7s ease-in, transform 0.7s ease-in;
    pointer-events: none;

    font-family: 'Orbitron', sans-serif;
    -webkit-text-stroke: 0.1vw darkmagenta;
    margin-left: 5vw;
}

#orbit-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Let clicking pass through if needed */
    z-index: 5; /* ABOVE the canvas */
}

.orbit-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    background: white;
    border-radius: 6px;
    border: 2px solid #444;
    pointer-events: auto;
    cursor: pointer;
}